body {
    background-image: url(https://estaticos.elcolombiano.com/binrepository/780x565/0c0/0d0/none/11101/EDTW/nostalgia-musica-1_42537840_20230605193530.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
   
}